{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Document</title>
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
    <link href="/static/style.css" type="text/css" />
    <style>
    body{
        color:red;
    }
    </style>
</head>
<body>
      
    hello python
    {{roll}}


    <script src="{% static 'script.js' %}" ></script>     
    <img src="{% static 'renusig.jpeg' %}" alt="my" /> working
    <img src="/static/renusig.jpeg" alt="my" /> working
</body>
</html>